<!--{{yield}}-->
<select class="form-control selectpicker" data-style="btn-primary" data-live-search="true" onchange={{action 'getGid' value='target.value'}}>
{{#each gamelist as |li|}}
	<option value="{{li.gid}}" data-tokens="{{li.key}}" data-subtext="{{li.key}} {{li.gid}}">{{li.gname}}</option>
{{/each}}
</select>